@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.media-scroller {
  padding: 1rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 22%;
  overflow-x: scroll;
  overflow-y: hidden;
  /* height: auto; */
  gap: 2rem;
  border-bottom: 1px solid #565656;
}

.media-scroller::-webkit-scrollbar {
  height: 5px;
  background-color: rgb(87, 87, 87);
}

.media-scroller::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

.MainSongsHomeContent::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(125, 125, 125);
}

.MainSongsHomeContent::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 2px;
}

.media-element {
  padding: 1rem;
  height: auto;
  background-color: rgb(46, 46, 46);
  border-radius: 1rem;
}
